/* 
reglas = conjunto de: 
selectores = identificador de la regla (body, .link, #porfolio)
declaraciones = todo lo que está dentro de las llaves
propiedades = el nombre del atributo que quieres cambiar
valores = el valor que se le va a colocar a la propiedad 
*/

/* selector de etiqueta (body, header, section) */

/* selector descendente: Navegar a través de todos los padres para llegar a un elemento*/
/* body header div nav ol li a {}*/

/* selector de clase: Se utiliza un punto y el nombre de la clase. La clase se puede utilizar en varios elementos */
/* .link */

/* selector de id: Se utiliza con # y el nombre del id. Solo puede haber un id en toda la página */
/* #portfolio */

/* gris oscuro = #1d252c:
gris claro = #fafafa;
background gris = #1b2127; 
celeste =  #026fff;
*/

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: white;
  margin: 0;
}

h1 strong {
  color: #026fff;
}

.portfolio {
  background-color: #fafafa;
  padding: 20px;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.project {
  /* border: 1px solid gray; */
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 5px 33px#888888;
}

.project-title {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project strong {
  font-family: "Fjalla One", sans-serif;
}

.project-description {
  font-size: 20px;
}

.project-details {
  width: 500px;
}

.project-imageWrapper {
  width: 500px;
}

.hero {
  height: 300px;
  background-color: #1b2127;
  background-position-x: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  object-fit: cover;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  color: white;
  text-decoration: none;
  display: block;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

figure {
  margin: 0;
}

.footer {
  color: white;
  background-color: #1d252c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event-list-title {
  margin-left: 20px;
  margin-bottom: 10px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.event {
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background: #f4fbff;
  box-shadow: 3px 5px 33px#888888;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  background-color: white;
  margin-top: -40px;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 2px;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-link {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.twitter {
  background-image: url("../images/twitter.svg");
}

.social-link.facebook {
  background-image: url("../images/facebook.svg");
}

.social-link.github {
  background-image: url("../images/github.svg");
}

.social-link.instagram {
  background-image: url("../images/instagram.svg");
}

.form-email input {
  border-color:white;
  border-style: solid;
  padding: 10px 20px 10px 35px;
  background-image: url("../images/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  border-radius: 5px;
}

.form-email button {
  
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  border-radius: 5px;
  width: 100px;
  padding: 10px 0;
}

.form-email h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
}
